body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}
.titulo-principal {
	color: #b5c435;
	font-style: bolder;
	font-size: 40px;
}

.font-titulos {
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
}

.primeiro-titulo-secundario {
	color: #c43535;
	font-style: bolder;
	font-size: 40px;
}

.primeiro-titulo-secundario {
	color: #bf35c4;
	font-style: bolder;
	font-size: 40px;
}

.align-center {
	text-align: center;
}
